In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [4]:
boston = pd.read_csv("BostonHousing.csv")

In [5]:
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [11]:
### Exploring the Shape
boston.shape

(506, 14)

In [13]:
boston.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
boston.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

In [17]:
boston.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

## Cleaning Data

In [22]:
#checking for null values
boston.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [24]:
# checking for duplicates
boston.duplicated().sum()

0

In [26]:
# Renaming columns
boston.columns = ["crime_Rate",
    "zoned_Land",
    "industrial_Acres",
    "river_Proximity",
    "nitric_Oxides",
    "rooms_per_dwelling",
    "age_of_home",
    "employment_Distance",
    "highway_Accessibility",
    "property_Tax_Rate",
    "pupil_teacher_ratio",
    "black_Residents_Rate",
    "lower_Status_Population",
    "median_Home_Value"]

boston.tail(7)

,crime_Rate,zoned_Land,industrial_Acres,river_Proximity,nitric_Oxides,rooms_per_dwelling,age_of_home,employment_Distance,highway_Accessibility,property_Tax_Rate,pupil_teacher_ratio,black_Residents_Rate,lower_Status_Population,median_Home_Value
499,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [28]:
# Removing the columns that we won't need for this time 
boston = boston[["crime_Rate",
    "river_Proximity",
    "nitric_Oxides",
    "rooms_per_dwelling",
    "age_of_home",
    "employment_Distance",
    "highway_Accessibility",
    "property_Tax_Rate",
    "black_Residents_Rate"]]

boston.head(7)

,crime_Rate,river_Proximity,nitric_Oxides,rooms_per_dwelling,age_of_home,employment_Distance,highway_Accessibility,property_Tax_Rate,black_Residents_Rate
0,0.00632,0,0.538,6.575,65.2,4.0900,1,296,396.90
1,0.02731,0,0.469,6.421,78.9,4.9671,2,242,396.90
2,0.02729,0,0.469,7.185,61.1,4.9671,2,242,392.83
3,0.03237,0,0.458,6.998,45.8,6.0622,3,222,394.63
4,0.06905,0,0.458,7.147,54.2,6.0622,3,222,396.90
5,0.02985,0,0.458,6.430,58.7,6.0622,3,222,394.12
6,0.08829,0,0.524,6.012,66.6,5.5605,5,311,395.60

In [30]:
boston.dtypes

crime_Rate               float64
river_Proximity            int64
nitric_Oxides            float64
rooms_per_dwelling       float64
age_of_home              float64
employment_Distance      float64
highway_Accessibility      int64
property_Tax_Rate          int64
black_Residents_Rate     float64
dtype: object